*.exe
*.log
*.o
*.os
*.pyc
*~
.buildpath
.sdb.devicemap
.package-stamp
.cproject
.project
.sign/
CMakeCache.txt
CMakeFiles/
SA_Report/
Debug/
Release/
Makefile
binaries
build-stamp
build_log
cmake_install.cmake
cmake_tmp/
configure-stamp
debugfiles.list
debuglinks.list
debugsources.list
documentation.list
packages
po/*.mo
po/CMakeFiles/
po/Makefile
po/cmake_install.cmake
usr
TEMP_BUILD_DIR
